body{
    font-family: 'Rokkitt', serif;
    /* font-family: 'Cinzel', serif; */
}

.banner{
    text-align: center;
}

.jumbotron{
    background-color: rgb(238, 226, 226);
}

.nav{
    padding-bottom: .5em;
} 

a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

.nav-link, .nav-link:hover{
    color: cadetblue;
}

.card-link{
    color:rgb(180, 158, 158)
}
.card-link:hover{
    color: cadetblue;
}

.btn{
    color: white;
    background-color: cadetblue;
    border: cadetblue;
}

.btn:hover{
    color: black;
    background-color:rgb(238, 226, 226);
    border: cadetblue;
    
}
/* HOME PAGE */

#name, #welcome {
    color: rgb(41, 40, 40);
    text-align: center;
}

#name {
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    margin-top: 150px;
}





