.banner{
    text-align: center;
}

.nav{
    padding-bottom: .5em;
} 

/* HOME PAGE */

/* #name, #welcome {
    color: white;
    font-family: 'Xanh Mono', monospace;
    text-align: center;
}

#name {
    margin-top: 25%;
}

#welcome{
    margin-bottom: 25%;
} */




