
    /* // all 3 pages */

.banner{
    text-align: center;
}

.nav{
    padding-bottom: .5em;
} 

    /* //index css */

.card-deck{
    padding-top: 1em;
    padding-left: 30%;
    padding-right: 30%;
}

/* .card-body{
    text-align: center;
} */


    /* //portfolio.css */

.content{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10em;
    padding-right: 10em;
}


